.links {
  width: 30%;
  margin-left: 65%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.liststyle {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #69B2F1;
}

