.title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}

.container {
  text-align: center;
}

.date {
  color: #8C8C8C;
}

.text {
  color: #535353;
  text-align: left;
  margin: 5px 300px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
