
.topimg{

}
.center {
  text-align: center;
}

.title {
  font-family: courier;
  font-size: 25px;
}

.occp {
  font-family: courier;
  font-size: 20px;
  color: #8C8C8C;
  margin-top: 10px;
  margin-bottom: 30px;
}
