
.topimg{

}
.center {
  text-align: center;
}

.title {
  font-family: courier;
  font-size: 25px;
}

.occp {
  font-family: courier;
  font-size: 15px;
  color: darkslategray;
  margin-top: 10px;
}
